@media screen and (max-width: 720px){


    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    #perfume-image{
        display: none;
    } 

    #perfum-image1{
        display: block;
        height: auto;
        width: 350px;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }

    .main-content-text{
        height: 100%;
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}
